@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  --black : #161616;
  --color-1 : #4b2c34;
  --color-2 : #447878;
  --color-3 : #779977;
  --color-4 : #ddddbb;
  --color-5 : #f6fbf4;
  --color-btn : #9bb0a5;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}